<footer class="footer border rounded-bottom">
    <nav class="footer-navigation">
      <a routerLink="/products" class="footer-nav-item">
        <i class="bi bi-house"></i>
      </a>
      <a routerLink="#" class="footer-nav-item">
        <i class="bi bi-grid"></i>
      </a>
      <a routerLink="#" class="footer-nav-item">
        <i class="bi bi-compass"></i>
      </a>
      <a routerLink="/cart" class="footer-nav-item">
        <i class="bi bi-cart2"></i>
      </a>
      <a routerLink="#" class="footer-nav-item">
        <i class="bi bi-person"></i>
      </a>
    </nav>
  </footer>
  