// Primary Colors
$primary_yellow: #ffdd00;
$primary_black: #555;
$white: #fff;
$red: #ff0000;

// Secondary Colors
$secondary_yellow: #ffc107;
$secondary_black: #333;
$border_white: #ccc;
$gray: #666;
$secondary_green: #4caf50;